* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background: #ddd;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.box {
    width: 100px;
    height: 50px;
    background: gray;
    margin: 5px;
}
.big-box {
    background: gray;
    width: 120px;
    height: 120px;
    float: left;
}
.small-box {
    width: 100px;
    height: 50px;
    background: gray;
    margin: 5px;
    margin-left: 800px;

}
.left {
    float: left;
}

.right {
    float: right;
}

.full {
    width: 100%;
    float: left;
}

.middle {
    width: 100px;
    height: 50px;
    margin-left: 220px;
    background: gray;
    float: none;
}
.clear {
    clear: both;
}
.big {
    float: initial;
    display: block;
    width: 120px;
    height: 120px;
    float: left;
}
